<div class="main">
    LOGIN
    <br><br>

    <div>
        Username:
        <br>

        <input type="text" class="inp" [(ngModel)]="logindata.usernameOrEmail" required>
        <br><br>

        Password:<br>
        <input type="password" class="inp" [(ngModel)]="logindata.password" required>

        <!-- <input matInput type="password" class="inp" [(ngModel)]="logindata.password" required><br><br> -->
        <br><br>
        <button class="btn" (click)="loginuser()">SignIn</button> &nbsp;
        <!-- <mat-button matButton class="btn" [routerLink]="['/register']">Register</mat-button> -->
    </div>
</div>