.main
{
    padding: 100px 30px 200px 550px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightgray;
}
.btn
{
    height: 50px;
    width: 100px;
    background-color:gray;
    font-size: 20px;
    font-style: bold;
}
