

<div class="main">
  
  <mat-label>Expences</mat-label><br><br> 
    <div>
       

      <mat-label>Desc</mat-label><br>
      <mat-form-field>
        <input  matInput type="text" class="inp" [(ngModel)]="expData.desc">
      </mat-form-field>
      <br><br>

      <mat-label>Amount</mat-label><br>
      <mat-form-field>
        <input matInput type="text" class="inp" [(ngModel)]="expData.amt">
        </mat-form-field>
        <br><br>

        <mat-label>Date</mat-label><br>
        <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time" class="inp" [(ngModel)]="expData.expdate">
        <owl-date-time #dt1></owl-date-time>
        <br><br>

      <mat-label>note</mat-label><br>
      <mat-form-field>
        <input matInput  type="text" class="inp" [(ngModel)]="expData.note">
      </mat-form-field>
      <br><br>

      <button mat-button class="btn" (click)="expUpdate(expData.id)">Update</button>&nbsp;
        <br><br>

    </div>
    <div >          
    </div>