<div class="m">
 
   <h1>Expence Details</h1> 
    <div class="dtl">

        <mat-label> Description:   {{ expdetails.desc }}</mat-label>
        <br>
        <br>
        <mat-label>Amount:   {{ expdetails.amt }}</mat-label>
        <br>
        <br>
        <mat-label>Date:  {{ expdetails.expdate | date: 'shortDateTime'}}</mat-label>
        <br>
        <br>
        <mat-label>Note:   {{ expdetails.note }}</mat-label>
        <br>
        <br>
        <br>
        
        <button mat-button class="btn" [routerLink]="['/home/expdetail/edit', expdetails.id]">Edit</button>&nbsp;&nbsp; 
        <button mat-button class="btn" [routerLink]="['/home']">Home</button>

   

    
  </div>
</div>