
<div class="main">
    <label>Register</label><br><br>
    <div>
      <label>FirstName</label><br>
      <mat-form-field>
        <input matInput type="text" class="inp" [(ngModel)]="regData.firstName" required>
      </mat-form-field><br><br>

      
      <label>LastName</label><br>
      <mat-form-field>
        <input matInput type="text" class="inp" [(ngModel)]="regData.lastName" required>
      </mat-form-field><br><br>

      <label>Email</label><br>
      <mat-form-field>
        <input matInput type="email" class="inp" [(ngModel)]="regData.email" required>
      </mat-form-field><br><br>

      <label>UserName</label><br>
      <mat-form-field>
        <input matInput type="text" class="inp" [(ngModel)]="regData.username" required>
      </mat-form-field><br><br>

      <label>Password</label><br>
      <mat-form-field>
        <input matInput type="password" class="inp" [(ngModel)]="regData.password" required>
      </mat-form-field><br><br>

      <!-- <button class="btn" (click)=""[routerLink]="['/']">Register</button> -->
      <button mat-button class="btn" (click)="userRegister()">Register</button>

    </div>
    
    </div>